.time-entry-default {
  border: 1px solid #1b1b1b;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  &.time-entry-active {
    background-color: red;
    transition: all 0.4s;
  }
  .time-entry-text-info-wrapper {
    text-align: left;
    input.time-entry-input-edit {
      border:none;
      font-size: 1em;
      &:focus {
        outline: none;
      }
    }
  }
  .time-entry-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .time-entry-edit-icon,
  .time-entry-remove-icon {
    font-size: 20px;
  }
  .time-entry-stop-icon,
  .time-entry-start-icon  {
    font-size: 35px;
  }
  i:hover {
    cursor: pointer;
  }
}
