.time-entry-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  .time-entry-edit-icon,
  .time-entry-remove-icon {
    font-size: 20px;
  }
  .time-entry-action-icon {
    font-size: 35px;
  }
}
i:hover {
  cursor: pointer;
}
