.time-entry-text-info-wrapper {
  display: flex;
  justify-content: flex-start;
  text-align: left;
  input.time-entry-input-edit {
    border:none;
    font-size: 1em;
    &:focus {
      outline: none;
    }
  }
}
